#content {
    background-color: $red;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 40px;
    align-items: center;

    #pasta-content {
        background-image: url("../img/pasta-content.png");
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
        width: 100%;
        height: 681px;
    }

    @include xl {
        #pasta-content2 {
            background-image: url("../img/pasta-content2.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 681px;
            display: none;
        }

        grid-template-columns: 50% auto;
        padding: 80px;
    }

    #paragraph {
        font-family: 'roc-grotesk', sans-serif;
        font-weight: 700;
        font-size: rem-calc(24);
        line-height: 1.5;
        color: $white;
        margin-left: 30px;

        p {
            margin: 10px;
        }

        @include xl {
            font-size: rem-calc(40);
        }

    }


}