#content {
    background-color: $red;
    display: grid;
    grid-template-columns: 60% auto;
    padding: 100px;
    align-items: center;

    @include lg {
        grid-template-columns: 40% auto;
    }

    p {
        font-family: 'roc-grotesk', sans-serif;
        font-weight: 700;
        font-size: rem-calc(40);
        line-height: 1.5;
        color: $white;
    }

    .content1{
        padding-bottom: 65px;
    }

    #pasta-content {
        background-image: url("../img/pasta-content.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 542px;
        width: 542px;
    }
}