#herobody {
    background-color: $yellow;

    #aldente {
        position: absolute;
        background-image: url("../img/aldente.svg");
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        top: 75px;
        left: 760px;
    }

    #penne {
        position: absolute;
        background-image: url("../img/penne.svg");
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        top: 300px;
        left: 1105px;
    }

    #penne-pasta {
        position: absolute;
        background-image: url("../img/penne-pasta.svg");
        background-repeat: no-repeat;
        height: 300px;
        width: 230px;
        top: 330px;
        left: 1150px;

    }

    #bowtie {
        position: absolute;
        background-image: url("../img/bowtie.svg");
        background-repeat: no-repeat;
        height: 500px;
        width: 330px;
        top: 375px;
        left: 600px;
    }

    #bowtie-pasta {
        position: absolute;
        background-image: url("../img/bowtie-pasta.svg");
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        top: 460px;
        left: 643px;
    }
}
#hero {
    background-color: $yellow;
    height: 100vh;
    width: 100%;

    #hero-content {
        font-family: 'roc-grotesk', sans-serif;
        font-weight: 700;
        font-size: rem-calc(48);
        color: $white;
        position: absolute;
        top: 150px;
        left: 90px;
    }

}


.pastahero-img {
    display: grid;
    background-image: url("../img/pasta-hero.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    width: 783px;
    grid-template-columns: 30% 30% auto;
    margin-left: 30px;
}
