#herobody {
    background-color: $yellow;
}
#hero {
    background-color: $yellow;
    height: 120vh;
    width: 100%;

    #hero-content {
        font-family: 'roc-grotesk', sans-serif;
        font-weight: 700;
        font-size: rem-calc(48);
        color: $white;
        position: absolute;
        top: 170px;
        left: 90px;
    }

}


.pastahero-img {
    display: block;
    position: absolute;
    background-image: url("../img/pasta-hero.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    width: 100%;
    bottom: -75px;
    left: 30px;
}