/* =============
    Navigation
============= */
nav {
    height: 100%;

    ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            margin-left: 4vw;

            a:link, a:visited{
                font-family: 'Poppins', sans-serif;
                color: $green;
                transition: 0.25s;
                font-size: rem-calc(18);
                font-weight: 600;
                text-decoration: none;
                
                &:hover, &:active {
                    color: $darkgreen
                }
            }
        }
    }
}